@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Example</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/App/Index">App</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/App/Products">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/App/Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <table class="table">
            <tr>
                <td>Url</td>
                <td>@ViewBag.Url</td>
            </tr>

            <tr>
                <td>PAP</td>
                <td>@ViewBag.PAP</td>
            </tr>

            <tr>
                <td>Path</td>
                <td>@ViewBag.Path</td>
            </tr>

            <tr>
                <td>Query</td>
                <td>@ViewBag.Query</td>
            </tr>

            <tr>
                <td>Header</td>
                <td>@ViewBag.Header</td>
            </tr>

            <tr>
                <td>Method</td>
                <td>@ViewBag.HttpMethod</td>
            </tr>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
